bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/.vs
/BTS_Tree/x64/Debug
/BTS_Tree/BTS_Tree.vcxproj.user
/BTS_Tree/x64/Debug/BTS_Tree.tlog/Cl.items.tlog
/BTS_Tree/x64/Debug/BTS_Tree.tlog/BTS_Tree.lastbuildstate
/BTS_Tree/x64/Debug/BTS_Tree.tlog/CL.command.1.tlog
/BTS_Tree/x64/Debug/BTS_Tree.tlog/CL.read.1.tlog
/BTS_Tree/x64/Debug/BTS_Tree.tlog/CL.write.1.tlog
/BTS_Tree/x64/Debug/BTS_Tree.tlog/link.command.1.tlog
/BTS_Tree/x64/Debug/BTS_Tree.tlog/link.read.1.tlog
/BTS_Tree/x64/Debug/BTS_Tree.tlog/link.write.1.tlog
/BTS_Tree/x64/Debug/BTS_Tree.ilk
/BTS_Tree/x64/Debug/BTS_Tree.exe.recipe
/BTS_Tree/x64/Debug/BTS_Tree.obj
/BTS_Tree/x64/Debug/element.obj
/BTS_Tree/x64/Debug/tree.obj
/BTS_Tree/x64/Debug/vc143.idb
/BTS_Tree/x64/Debug/vc143.pdb
/x64/Debug/BTS_Tree.pdb
/x64/Debug/BTS_Tree.exe
/BTS_Tree/x64/Debug/BTS_Tree.tlog/CL.command.1.tlog
/BTS_Tree/x64/Debug/BTS_Tree.tlog/CL.read.1.tlog
/BTS_Tree/x64/Debug/BTS_Tree.tlog/CL.write.1.tlog
/BTS_Tree/x64/Debug/BTS_Tree.obj
/BTS_Tree/x64/Debug/element.obj
/BTS_Tree/x64/Debug/BTS_Tree.ilk
/BTS_Tree/x64/Debug/tree.obj
/BTS_Tree/x64/Debug/vc143.idb
/BTS_Tree/x64/Debug/vc143.pdb
/x64/Debug/BTS_Tree.exe
/x64/Debug/BTS_Tree.pdb
